/*****************************************************/
  /* laptops/desktops, 992px and up */
  @media only screen and (max-width: 992px) {
    #logo {
        padding: 50px 160px;
        display: inline-block;
    }
 
   nav ul {
        float: right;
        margin-right: 50px;
    }
    
    
    #background {
        background-image: url("../images/header-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%;
        background-position: top;
    }
    
    .header1 {
        padding: 80px 0 0 120px;
        margin-top:50px;
        font-weight: bold;
    }
    
    .header6 {
        padding: 40px 0 0 100px;
    }
      #getBtn {
        margin: 100px 180px;
      }
    
      #lmBtn {
        margin: 120px 400px;
        display: inline-flex;
    
      }
    
      #header3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 100px 200px 0 0;
        padding: 10px 0 0 200px;
        font-weight: bold;
        text-align: center;
        line-height: 150%;
      }
      .row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
      #img2{
        margin: 10px 0 0 400px;
    }
    .box2 {
        width: 480px;
        padding: 50px;
        height: 300px;
        margin: 0 0 0 250px;
    }
    #img3 {
        margin: 20px 0 40px 410px;
    }
    
    .box3 {
        margin: 100px 0 0 250px;
    }
 
    .flexy{
        font-size: 15px;
    }
    .columns {
        flex-direction: row;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 200px;
    }
    .cbox {
        background-color: rgb(255, 255, 255);
        text-align: left;
        border-radius: 20px;
        box-shadow: 0 6px 5px 8px #eeeeeecb;
        width: 300px;
        height: 600px;
        margin: 20px;
        font-size:9px;
    }
    .h6{
        padding: 20px;
        text-align: center;
    }
    .fimg {
        max-width:100%;
    }
    .h4{
        margin-top:50px;
    }
    .subform{
        margin:0 150px 0 150px;
        padding: 10px;
        border-radius: 20px;
    }
      #subBtn {
          margin-bottom: 20px;
    
      }
      .container {
        margin-top: 80px;
      }
      .infop{
        font-size: 11px;
      }
      .footer{
          background-image: url("../images/footer.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-position: bottom;
      }
    
    .socialmedia{
        margin-left: 400px;
    }
}

/***********************************************/
/* Extra small devices:phones, 600px and down */
@media only screen and (max-width: 600px) {
    .logo img:first-child {
    width:200px;
    height:100px;
    }
 
   nav ul {
        float: right;
        margin-right: 50px;
    }
    
    
    #background {
        background-image: url("../images/header-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%;
        background-position: top;
    }
    
    .header1 {
        padding: 80px 0 0 120px;
        margin-top:50px;
        font-weight: bold;
    }
    
    .header6 {
        padding: 40px 0 0 100px;
    }
      #getBtn {
        margin: 100px 180px;
      }
    
      #lmBtn {
        margin: 120px 400px;
        display: inline-flex;
    
      }
    
      #header3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 100px 200px 0 0;
        padding: 10px 0 0 200px;
        font-weight: bold;
        text-align: center;
        line-height: 150%;
      }
      .row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
      #img2{
        margin: 10px 0 0 400px;
    }
    .box2 {
        width: 480px;
        padding: 50px;
        height: 300px;
        margin: 0 0 0 250px;
    }
    #img3 {
        margin: 20px 0 40px 410px;
    }
    
    .box3 {
        margin: 100px 0 0 250px;
    }
 
    .flexy{
        font-size: 15px;
    }
    .columns {
        flex-direction: row;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 200px;
    }
    .cbox {
        background-color: rgb(255, 255, 255);
        text-align: left;
        border-radius: 20px;
        box-shadow: 0 6px 5px 8px #eeeeeecb;
        width: 300px;
        height: 600px;
        margin: 20px;
        font-size:9px;
    }
    .h6{
        padding: 20px;
        text-align: center;
    }
    .fimg {
        max-width:100%;
    }
    .h4{
        margin-top:50px;
    }
    .subform{
        margin:0 150px 0 150px;
        padding: 10px;
        border-radius: 20px;
    }
      #subBtn {
          margin-bottom: 20px;
    
      }
      .container {
        margin-top: 80px;
      }
      .infop{
        font-size: 11px;
      }
      .footer{
          background-image: url("../images/footer.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-position: bottom;
      }
    
    .socialmedia{
        margin-left: 400px;
    }
}